* {
    margin: 0;
    padding: 0;
}
input {
    height: min-content;
}
body {
    padding: 20px 10px;
}
h1 {
    margin-bottom: 0;
}
.inputs-container {
    display: flex;
    align-items: flex-end;
    height: min-content;
    margin-top: 10px;
}
.ring {
    width: 100px;
    height: 100px;
    border: 5px solid rgb(238, 238, 238);
    border-radius: 50%;
    position: relative;
    /* overflow: hidden; */
    display: none;
} .ring::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    border: 5px solid;
    border-color: rgb(0, 255, 85) transparent transparent;
    border-radius: 50%;
    animation: anim 2s linear infinite;
}
img {
    width: 610px;
    height: 0;
    object-fit: cover;
    object-position: top;
    transition: 5s linear;
}
.plus {
    font-weight: 900;
    margin: 0 5px;
}
.calculate {
    margin-left: 5px;

}
@keyframes anim {
    0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}